*{
    box-sizing: border-box;
    margin:0;
  
}


header{
   display: flex;
   flex-direction: column;
   color:white; 
   background-image: url("./asset/banner-bg.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;


}

.flex{
	display: flex;

}

.space-around{
	justify-content:space-around
}

.align-center{
	align-items: center;

}

.nav-bar{
	font-size: 18px;
    
}

.nav-link{
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	text-decoration: none;
    
}

.btndwnld{
	border-radius: 10px; 
	border: none;
   	font-size: 18px;
	background-color: #ff8369;
    background-image: linear-gradient(62deg, #ff8369 0%, #fe7194 100%);
    color: white;
    width: 140px;
    height: 40px;
   
}
.marg-right-s{
	margin-right: 15px;
}

.intro{
align-items: center;       
display:flex;
flex-direction: column;
margin-top:50px;
}

h1,h2 {
    font-size: xx-large;
}


.getstart{
	border-radius: 10px; 
	border: none;
   	font-size: 18px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    width: 140px;
    height: 40px;
   
}
#pc{
    width: 600px;
    margin-top: 5%;
}

.sponso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    filter:contrast(0);
    margin-top: 5%;   
}

.logosponso{
    width: 150px;
    
}

#linediego{
    border-bottom: 5px solid #fe7194;
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;  
}
.bolded { 
    font-weight: bold; 
}
p.cleanphr {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin-top: 5%; 
    
}

.section-card{
    display:flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 5%; 
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.first-card{
    width:20%;
    box-shadow:8px 8px 10px 10px #a9a9a9;
    
    
}
.second-card{
    width:20%;
    box-shadow:8px 8px 10px 10px #a9a9a9;
}
.third-card{
    width:20%;
    box-shadow:8px 8px 10px 10px #a9a9a9;
}

p{
    text-align: center;
}


body{
    margin: 0;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 11cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text{
 flex: 1;
 flex-shrink: 1;

}
.image{
    padding-left: 2cm;
}
.image-r{
    padding-left: 250px;
}

.w-image{
    width: 50%;

}
.bold{
    font-weight: bolder;
   
}
.btn{
    border-radius: 8px;
    border: none;
    padding: 15px;
    background: rgb(209,166,100);
    background: linear-gradient(90deg, rgb(209, 142, 100) 15%, rgba(252,1,90,1) 86%);
    color: white;
    font-family: 'Varela Round', sans-serif;
}
hr{
    border: 2px solid rgb(252,1,90,1);
    
}
.pic{
    width: 33vh;
}
#center{
    text-align: center;
}
.profil1{
    padding: 15px;
}
.profil{
    padding: 15px;
}
.para{
    font-weight: 100;
}
