*{
    box-sizing: border-box;
    margin:0;
    
     
}


header{
   display: flex;
   flex-direction: column;
   color: white; 
   background-image: url("./asset/banner-bg.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   padding-top: 20px;
   
 
}

.flex{
	display: flex;
}

.space-around{
	justify-content:space-around
}

.align-center{
	align-items: center;
}

.nav-bar{
	font-size: 18px;
}

.nav-link{
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	text-decoration: none;
}

.btndwnld{
	border-radius: 10px; 
	border: none;
   	font-size: 18px;
	background-color: #ff8369;
    background-image: linear-gradient(62deg, #ff8369 0%, #fe7194 100%);
    color: white;
    width: 140px;
    height: 40px;
}
.marg-right-s{
	margin-right: 15px;
}

.intro{
align-items: center;       
display:flex;
flex-direction: column;
margin-top:50px;
font-size: smaller;
}

h1,h2 {
    font-size: xx-large;
}

h1{
    font-weight: 100 ;
}

h2{
    font-weight: 900;
}
.getstart{
	border-radius: 10px; 
	border: none;
   	font-size: 18px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    width: 140px;
    height: 40px;
}
#pc{
    width: 600px;
    margin-top: 5%;
}

.sponso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    filter:contrast(0);
    margin-top: 5%; 
    padding: 0 15%;
   
}
.logosponso{
    width: 150px;
}

#linediego{
    border-bottom: 5px solid #fe7194;
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;  
}
.bolded { 
    font-weight: 600; 
}
p.cleanphr {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin-top: 5%; 
    
    
}

.section-card{
    display:flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 5%; 
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 3%;
    
        
}


.onglet{
    display: table;
    margin: 0 auto;
} 

.first-card{
    width: 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url("./asset/services-shape.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 25px;
        
    
}
.second-card{
    width:20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url("./asset/services-shape.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 25px;
}
.third-card{
    width:20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url("./asset/services-shape.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 25px;
    
}

p.card{
    text-align: center;
    padding-bottom: 15px;
    color: grey;
    padding-left: 10px;
    
}

  h4{
text-align: center;
padding-bottom: 15px;

  }
.arrow{
    width: 12px;
    height: 11px;
      
}  
h3{
    text-align: center; 
}
#imgstuck{
    display: table;
    margin: 0 auto;

}
.bolt{
    height:40px;
    width: 40px;
    z-index: 1;
    position: relative;
    top: -55px;
    left: 13px;
    
}
.clog{
    height:40px;
    width: 40px;
    z-index: 1;
    position: relative;
    top: -55px;
    left: 13px;
}
.ballon{
    height:40px;
    width: 40px;
    z-index: 1;
    position: relative;
    top: -55px;
    left: 13px;
   
}
/* Diego's part end */


body{
    letter-spacing: 0.05em; 
    font-family: "Helvetica", Sans-Serif;
    
}


.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2cm;
    margin-bottom: 2cm;
}
.flex-h2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text{
    width: 33%;

}
.image{
    padding-left: 2cm;
    width: 20%;
}

.w-image{
    width: 80%;
    

}
.bold{
    font-weight: bolder;
}
.grey{
    color: grey;
}
.btn{
    border-radius: 8px;
    border: none;
    padding: 15px;
    background: rgb(209,166,100);
    background: linear-gradient(90deg, rgb(209, 142, 100) 15%, rgba(252,1,90,1) 86%);
    color: white;
    font-family: 'Varela Round', sans-serif;
}
hr{
    border: 2px solid rgb(252,1,90,1);
    width: 17%;
}
.pic{
    width: 33vh;
}
#center{
    text-align: center;
}

.profil{
    padding: 15px;
}
.para{
    font-weight: lighter;
    font-size: 50%;
}


/* container-reviews */

.authors-reviews {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 100;
    /* column-width: 25%;
    justify-content: space-between; */
}
.author1, .author2, .author3 {
    column-width: 25%;
    justify-content: space-between;

}

.title-reviews {
    text-align: center;
    margin-top: 150px;
    font-weight: 100;
}
.reviews-img {
    display: inline-flexbox;
    margin-top: 50px;
}


/* container-blog */
.blog-items {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.blog-items a:link {
    color: #fe7194;
    line-height: 100px;
}
.blog-iteam1, .blog-item2, .blog-item3 {
    display: flex;
    width: 25%;
    justify-content: space-between;
}
.blog-title {
    margin-top: 150px;
    font-weight: 100;
}
.date, .author {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: grey;
    font-size: 14px;
}


/* container-footer */
footer {
    display: flex;
    background-image: url(./asset/footer-bg.svg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
}
/* newsletter-form */
.newsletter-content {
    display: flex;
    align-self: center;
    max-width: 800px;
    background-color: #80D0C7;
}

.container-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.block1, .block2, .block3, .block4 {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    font-size: 15px;
    color: white;
    font-weight: lighter;
    line-height: 30px;
}

.container-footer a:link {
    color: white;
    text-decoration: none;
}
.conteiner-footer h3 {
    font-weight: bold;
    
}

