*{
    box-sizing: border-box;
<<<<<<< HEAD
    padding:0;
    margin: 0;
=======
    margin:0;
>>>>>>> b25784d28755ed0270b3a512ec58a1f63e4d260f
  
}


header{
   display: flex;
   flex-direction: column;
   color:white; 
<<<<<<< HEAD
   background-image: url("./assets/banner-bg.svg");
   height: auto;
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   padding: 30px;
   
=======
   background-image: url("./asset/banner-bg.svg");
   height: 100vh;
   width: 100vw;
   background-size: cover;
   background-repeat: no-repeat;



>>>>>>> b25784d28755ed0270b3a512ec58a1f63e4d260f
}

.flex{
	display: flex;

}

.space-around{
	justify-content:space-around
}

.align-center{
	align-items: center;

}

.nav-bar{
	font-size: 18px;
    
}

.nav-link{
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	text-decoration: none;
    
}

.btndwnld{
	border-radius: 10px; 
	border: none;
   	font-size: 18px;
	background-color: #ff8369;
    background-image: linear-gradient(62deg, #ff8369 0%, #fe7194 100%);
    color: white;
    width: 140px;
    height: 40px;
   
}
.marg-right-s{
	margin-right: 15px;
}

.intro{
align-items: center;       
display:flex;
flex-direction: column;
<<<<<<< HEAD
margin-top: 50px;

=======
margin-top:50px;
>>>>>>> b25784d28755ed0270b3a512ec58a1f63e4d260f
}

h1,h2 {
    font-size: xx-large;
}


.getstart{
	border-radius: 10px; 
	border: none;
   	font-size: 18px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    width: 140px;
    height: 40px;
   
}
#pc{
<<<<<<< HEAD
    width: 550px;
=======
    width: 600px;
>>>>>>> b25784d28755ed0270b3a512ec58a1f63e4d260f
}

.sponso{
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    filter:contrast(0);
    flex-direction: row;
      
}


#linediego{
    border-bottom: 5px solid #fe7194;
    display: flex;
    width: 100px;
    align-items: center;
=======
    flex-direction: row;
    justify-content: space-evenly;
    filter:contrast(0);
   
}

#linediego{
    border-bottom: 5px solid #fe7194;
    display: flex;
>>>>>>> b25784d28755ed0270b3a512ec58a1f63e4d260f
        
}

.section-card{
    display:flex;
    justify-content: space-evenly;
    color: black;
    
    
}

.first-card{
    width:20%;
    box-shadow:8px 8px 10px 10px #a9a9a9;
    
    
}
.second-card{
    width:20%;
    box-shadow:8px 8px 10px 10px #a9a9a9;
}
.third-card{
    width:20%;
    box-shadow:8px 8px 10px 10px #a9a9a9;
}
<<<<<<< HEAD
=======




body{
    margin: 0;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 11cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text{
 flex: 1;
 flex-shrink: 1;

}
.image{
    padding-left: 2cm;
}
.image-r{
    padding-left: 250px;
}

.w-image{
    width: 50%;

}
.bold{
    font-weight: bolder;
   
}
.btn{
    border-radius: 8px;
    border: none;
    padding: 15px;
    background: rgb(209,166,100);
    background: linear-gradient(90deg, rgb(209, 142, 100) 15%, rgba(252,1,90,1) 86%);
    color: white;
    font-family: 'Varela Round', sans-serif;
}
hr{
    border: 2px solid rgb(252,1,90,1);
    
}
.pic{
    width: 33vh;
}
#center{
    text-align: center;
}
.profil1{
    padding: 15px;
}
.profil{
    padding: 15px;
}
.para{
    font-weight: 100;
}
>>>>>>> b25784d28755ed0270b3a512ec58a1f63e4d260f
